<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css') }}">
</head>
<body>
    <main>
        <section class="left flex centralizar">
            <section class="container flex meio-vertical alinhar-extremidades">
                <form class="login flex coluna centralizar">
                    <div class="titulo flex coluna meio-vertical">
                        <h1>Cadastro</h1>
                        <h3>Preencha com os seus dados</h3>
                    </div>
                    <div class="info flex coluna meio-horizontal">
                        <div class="form flex coluna">
                            <div class="flex coluna">
                                <label name="nome" for="">Nome:</label>
                                <input type="text" placeholder="Seu nome">
                                <span>Digite seu nome</span>
                            </div>
                            <div class="flex coluna">
                                <label name="CPF" for="">CPF:</label>
                                <input type="date" placeholder="00/00/0000">
                                <span>Digite seu CPF</span>
                            </div>
                            <div class="flex coluna">
                                <label name="email" for="">E-mail:</label>
                                <input type="email" placeholder="email@exemplo.com">
                                <span>Digite seu e-mail</span>
                            </div>
                        </div>
                        <button type="submit">Enviar</button>
                    </form>
                    <h4>Não tem uma conta? <a href="{{ url_for('auth.cadastro') }}">Clique aqui</a></h4>
                </div>
            </section>
            <img src="../../static/imgs/cadastro/Frame 7.svg" alt="">
        </section>
    </main>
</body>
</html>