<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="../../static/css/agendamentos.css">
    <link rel="shortcut icon" href="../../static/imgs/favicon/logo-itzn.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../static/css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>{{ title }}</title>
</head>

<body>

    {% extends 'base.html' %}

    {% block content %}
    <main class="flex">
        <nav id="sidebar" class="flex coluna">
            <div id="sidebar_content" class="flex coluna alinhar-extremidades">
                <ul id="side_items" class="flex coluna">
                    <li class="side-item active">
                        <a href="#" class="flex meio-vertical">
                            <i class="fa-regular fa-calendar fa-xl"></i>
                            <span class="item-descricao">Agendamentos</span>
                        </a>
                    </li>
                    <li class="side-item">
                        <a href="#" class="flex meio-vertical">
                            <i class="fa-regular fa-file-lines fa-xl"></i>
                            <span class="item-descricao">Editais</span>
                        </a>
                    </li>
                    <li class="side-item">
                        <a href="#" class="flex meio-vertical">
                            <i class="fa-solid fa-book fa-xl"></i>
                            <span class="item-descricao">Materiais</span>
                        </a>
                    </li>
                </ul>
                <ul id="side_items" class="config flex coluna">
                    <li class="side-item">
                        <a href="#" class="flex meio-vertical">
                            <i class="fa-solid fa-gear fa-xl"></i>
                            <span class="item-descricao">Configurações</span>
                        </a>
                    </li>
                    <li class="side-item" id="logout">
                        <a id="logout_btn" class="flex meio-vertical">
                            <i class="fa-solid fa-arrow-right-from-bracket fa-xl"></i>
                            <span class="item-descricao">Sair</span>
                        </a>
                    </li>
                </ul>
            </div>
            <button id="open_btn">
                <img src="../../static/imgs/base/menu.svg" alt="abrir menu" id="open_btn_icon">
            </button>
        </nav>


        <section class="flex main">
            <section class="n-agendamentos">
                <div class="voltar">
                    <a href="#" class="flex meio-vertical">
                        <i class="fa-solid fa-arrow-left"></i>
                        <span>Voltar</span>
                    </a>
                </div>
                <div class="formulario">
                    <div class="title-f flex coluna">
                        <h1>Novo Agendamento</h1>
                        <p>Preencha os dados abaixo para reservar a sala de coworking com notebooks.</p>
                    </div>
                    <form action="" class="flex coluna">
                        <div class="date flex coluna">
                            <div class="flex meio-vertical">
                                <i class="fa-regular fa-calendar"></i>
                                <label for="">Data do agendamento:</label>
                            </div>
                            <input type="date" name="">
                        </div>
                        <div class="horarios flex alinhar-extremidades">
                            <div class="horario-inicio flex coluna">
                                <div class="flex meio-vertical">
                                    <i class="fa-regular fa-clock"></i>
                                    <label for="">Horário de início</label>
                                </div>
                                <input type="time">
                            </div>
                            <div class="horario-final flex coluna">
                                <div class="flex meio-vertical">
                                    <i class="fa-regular fa-clock"></i>
                                    <label for="">Horário de término</label>
                                </div>
                                <select name="hora" id="">
                                    <option value="13">13:00</option>
                                    <option value="14">14:00</option>
                                    <option value="14">14:00</option>
                                    <option value="15">15:00</option>
                                    <option value="16">16:00</option>
                                </select>
                            </div>
                        </div>
                        <div class="estacao">
                            <i class="fa-solid fa-display"></i>
                            <label for="">Estações - Coworking</label>
                        </div>
                        <div class="cards-estacoes">
                            <div class="card-estacoes flex centralizar selecionado">
                                <div class="flex coluna">
                                    <h3>Estação 1</h3>
                                    <p>Notebook</p>
                                </div>
                                <div class="status flex centralizar">
                                    <span>Disponível</span>
                                </div>
                            </div>
                            <div class="card-estacoes flex centralizar">
                                <div class="flex coluna">
                                    <h3>Estação 1</h3>
                                    <p>Notebook</p>
                                </div>
                                <div class="status flex centralizar">
                                    <span>Disponível</span>
                                </div>
                            </div>
                            <div class="card-estacoes flex centralizar">
                                <div class="flex coluna">
                                    <h3>Estação 1</h3>
                                    <p>Notebook</p>
                                </div>
                                <div class="status flex centralizar">
                                    <span>Disponível</span>
                                </div>
                            </div>
                            <div class="card-estacoes flex centralizar">
                                <div class="flex coluna">
                                    <h3>Estação 1</h3>
                                    <p>Notebook</p>
                                </div>
                                <div class="status flex centralizar">
                                    <span>Disponível</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
            <div class="flex centralizar"><img src="../../static/imgs/agendamentos/undraw_online-meetings_zutp.svg" alt=""></div>
        </section>
    </main>
    {% endblock %}

</body>

</html>