<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/global.css">
    <link rel="stylesheet" href="../../static/css/base2.css">
    <link rel="stylesheet" href="../../static/css/dashboard.css">
    <title>{{ title }}</title>
</head>
<body>

    {% extends 'base2.html' %}
    <main>
        <section>
            <section class="sidebar flex coluna">
                <div class="icons flex coluna">
                    <a href=""><img src="../../static/imgs/dashboard/calendario.svg" alt="Agendamentos"></a>
                    <a href=""><img src="../../static/imgs/dashboard/paper.svg" alt="Editais"></a>
                    <a href=""><img src="../../static/imgs/dashboard/book.svg" alt="Materiais"></a>
                </div>

                <div class="config flex coluna">
                    <a href=""><img src="../../static/imgs/dashboard/config.svg" alt=""></a>
                    <a href=""><img src="../../static/imgs/dashboard/logout.svg" alt=""></a>
                </div>
            </section>
        </section>
    </main>
    {% block content %}
    {% endblock %}

</body>
</html>