<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/global.css">
    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/dashboard.css">
    <link rel="stylesheet" href="../../static/css/perfil_edit.css">
    <link rel="shortcut icon" href="../../static/imgs/favicon/logo-itzn.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Editar Perfil</title>
</head>

<body>
    {% extends 'base.html' %}
    {% block content %}
        <!-- Conteúdo principal -->
        <section class="profile flex coluna">
            <div class="flex coluna gap">
                <h1>Editar Perfil</h1>
                <p>Atualize suas informações pessoais</p>
            </div>

            <div class="card-profile">
                <div class="header">
                    <div class="foto">
                        <img src="../../static/imgs/base/default-user.png" alt="">
                        <label for="upload-foto" class="upload-foto">
                            <i class="fa-solid fa-camera"></i>
                        </label>
                        <input type="file" id="upload-foto" hidden>
                    </div>
                </div>
            </div>

            <form class="card-p" method="POST">
                <div class="title-p flex coluna">
                    <h2>Fulano de tal</h2>
                    <p>Empresa</p>
                </div>

                <div class="informacoes flex gap-3">
                    <div class="flex coluna gap-3">
                        <div class="caract flex gap">
                            <div class="icon flex centralizar"><i class="fa-regular fa-envelope fa-xl"></i></div>
                            <div class="description flex coluna gap-2">
                                <h4>Email</h4>
                                <input type="email" name="email" value="fulanodetal@gmail.com">
                            </div>
                        </div>
                        <div class="caract flex gap">
                            <div class="icon flex centralizar"><i class="fa-regular fa-calendar fa-xl"></i></div>
                            <div class="description flex coluna gap-2">
                                <h4>Data de nascimento</h4>
                                <input type="date" name="nascimento" value="1997-08-12">
                            </div>
                        </div>
                    </div>

                    <div class="flex coluna gap-3">
                        <div class="caract flex gap">
                            <div class="icon flex centralizar"><i class="fa-solid fa-phone fa-xl"></i></div>
                            <div class="description flex coluna gap-2">
                                <h4>Telefone</h4>
                                <input type="tel" name="telefone" value="(11) 99999-9999">
                            </div>
                        </div>
                        <div class="caract flex gap">
                            <div class="icon flex centralizar"><i class="fa-solid fa-calendar-day fa-xl"></i></div>
                            <div class="description flex coluna gap-2">
                                <h4>Data de inscrição</h4>
                                <input type="text" name="cadastro" value="07/03/2026" disabled>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="acoes flex gap">
                    <button type="submit" class="btn-salvar">Salvar alterações</button>
                    <a href="perfil.html" class="btn-cancelar">Cancelar</a>
                </div>
            </form>
        </section>
    </main>

    <script>
        document.getElementById('open_btn').addEventListener('click', function () {
            document.getElementById('sidebar').classList.toggle('open-sidebar');
        });

    </script>
    {% endblock %}
</body>

</html>