<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="../../static/css/agendamentos.css">
    <link rel="shortcut icon" href="../../static/imgs/favicon/logo-itzn.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>{{ title }}</title>
</head>

<body>

    {% extends 'base.html' %}

    {% block content %}
    <section class="flex main">
        <section class="n-agendamentos">
            <div class="voltar">
                <a href="{{ url_for('main.dashboard') }}" class="flex meio-vertical">
                    <i class="fa-solid fa-arrow-left"></i>
                    <span>Voltar</span>
                </a>
            </div>
            <div class="formulario">
                <div class="title-f flex coluna">
                    <h1>Novo Agendamento</h1>
                    <p>Preencha os dados abaixo para reservar a sala de coworking com notebooks.</p>
                </div>
                <form action="{{ url_for('agendamentos.ver_apagarAgendamento', id = agendamento.id_agendamento) }}" class="flex coluna" method="post">
                    <div class="date flex coluna">
                        <div class="flex meio-vertical">
                            <i class="fa-regular fa-calendar"></i>
                            <label for="">Data do agendamento:</label>
                        </div>
                        {{ agendamento.data_reserva }}
                    </div>
                    <div class="horarios flex alinhar-extremidades">
                        <div class="horario-inicio flex coluna">
                            <div class="flex meio-vertical">
                                <i class="fa-regular fa-clock"></i>
                                <label for="">Horário de início</label>
                            </div> 
                            {{ agendamento.hora_inicial }}
                        </div>
                        <div class="horario-final flex coluna">
                            <div class="flex meio-vertical">
                                <i class="fa-regular fa-clock"></i>
                                <label for="">Horário de término</label>
                            </div>
                            {{ agendamento.hora_final }}
                        </div>
                    </div>


                    <div class="cards-estacoes flex alinhar-extremidades">
                        {% if agendamento.id_estacao %}
                        <label class="card-estacoes flex coluna">
                            <input type="radio" name="id_estacao" value="1" disabled>
                            <div class="flex alinhar-extremidades">
                                <h3>Estação {{ agendamento.id_estacao }}</h3>
                                <span id="disponivel">Disponível</span>
                            </div>
                            <p>Notebook</p>
                        </label>
                        {% endif %}
                    </div>


                    <div class="mensagem flex coluna">
                        <label for="">Descrição / Observações?</label>
                        {% if agendamento.observacao == None %}
                        <p>Nenhuma observação foi enviada neste agendamento.</p>
                        {% else %}
                        <p>{{ agendamento.observacao }}</p>
                        {% endif %}
                    </div>
                    <div class="aviso">
                        <p><b>Informação:</b> Seu agendamento será enviado para análise e você receberá uma confirmação
                            por e-mail dentro de 24 horas.</p>
                    </div>
                    <div class="flex alinhar-extremidades">
                        <button type="submit" class="excluir" name="acao" value="excluir">Excluir</button>
                        <button type="submit" class="editar flex centralizar" name="acao" value="editar">Editar</button>
                    </div>
                </form>
            </div>
        </section>
        <div class="flex centralizar"><img src="../../static/imgs/agendamentos/undraw_online-meetings_zutp.svg" alt="">
        </div>
    </section>
    </main>

    <script>
        document.getElementById('open_btn').addEventListener('click', function () {
            document.getElementById('sidebar').classList.toggle('open-sidebar');
        });


        const selected = document.querySelector('.select-selected');
        const items = document.querySelector('.select-items');
        const options = items.querySelectorAll('div');

        selected.addEventListener('click', (e) => {
            e.stopPropagation(); // evita fechar imediatamente
            items.classList.toggle('show');
            selected.classList.toggle('active');
        });

        options.forEach(option => {
            option.addEventListener('click', () => {
                selected.textContent = option.textContent;
                items.classList.remove('show');
                selected.classList.remove('active');
            });
        });

        document.addEventListener('click', () => {
            items.classList.remove('show');
            selected.classList.remove('active');
        });

          const cards = document.querySelectorAll('.card-estacoes');

    cards.forEach(card => {
        card.addEventListener('click', () => {
            // Remove o 'active' de todos
            cards.forEach(c => c.classList.remove('active'));
            // Adiciona o 'active' no clicado
            card.classList.add('active');
        });
    });
    </script>
    {% endblock %}

</body>

</html>