* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    font-family: Lato;
}

.n-agendamentos {
    background-color: #fff;
    padding: 32px;
    width: 50%;
    border-right: 1px solid #DDD;
}

.main {
    width: 100%;
}

.n-agendamentos  .voltar a {
    color: #272727;
    gap: 14px;
    text-decoration: none;
    font-size: 18px;
}

.n-agendamentos  .voltar a:hover, .n-agendamentos .voltar a i:hover{
    color: #4980F2;
    transition: all .3s;
    padding: 8px;
    transition: all 0.5s;
}

.n-agendamentos .formulario {
    margin: 32px;
}

.n-agendamentos .formulario .title-f {
    gap: 8px;
    color: #333;
}

.n-agendamentos .formulario .title-f h1 {
    font-size: 24px;
    font-family: ubuntu;
    color: #0052fb;
}

.n-agendamentos .formulario .title-f p {
    font-size: 16px;
}

.n-agendamentos .formulario form {
    margin-top: 24px;
     gap: 24px;
}

.n-agendamentos .formulario form div {
    gap: 8px;
    color: #333;
    font-size: 18px;
}

.n-agendamentos .formulario form input, .n-agendamentos .formulario form select, textarea {
    border: 1px solid #DDD;
    padding: 12px;
    border-radius: 12px;
    color: #666;
    font-size: 14px;
    font-family: Lato;
    outline: none;
}

.n-agendamentos .formulario form input:hover, .n-agendamentos .formulario form select:hover, textarea:hover {
    background-color: #F2F6FF;
    transition: all .6s;
    border: 1px solid #83ACFF;
    cursor: pointer;
}
    
.n-agendamentos .formulario form select:focus, textarea:focus {
    transition: all .5s;
    border: 2px solid var(--blue-400, #4980F2);
    box-shadow: 0 0 10px 0 #0052FB
}

.n-agendamentos .formulario form .horarios .horario-inicio, .n-agendamentos .formulario form .horarios .horario-final {
    width: 250px;
}

.main img {
    width: 80%;
    height: 80%;
}

.main .formulario form .cards-estacoes {
    flex-wrap: wrap;
}

.main .formulario form .cards-estacoes .card-estacoes:not(.active) {
    padding: 12px;
    border: 1px solid #DDD;
    transition: all 0.6s ease;
    width: 45%;
    border-radius: 12px;
}

.card-estacoes:focus {
    border: 2px solid #4CAF50;
    background-color: #e0f7e0;
}

.card-estacoes.active {
    border: #0052FB 1px solid;
    padding: 12px;
    transition: all 0.6s ease;
    width: 45%;
    border-radius: 12px;
}

.main .formulario form .cards-estacoes .card-estacoes:hover {
    border: #0052FB 1px solid;
    transform: translateY(-5px);
    cursor: pointer;
}

.main .formulario form .cards-estacoes .card-estacoes h3{
    font-size: 18px;
    font-weight: 700;
}


.main .formulario form .cards-estacoes .card-estacoes p {
    font-size: 14px;
}

.main .formulario form .cards-estacoes .card-estacoes #disponivel {
    font-size: 12px;
    color: #4AC97B;
    background-color: #E2FFED;
    padding: 4px;
    border-radius: 8px;
    height: 24px;
}

.main .formulario form .cards-estacoes .card-estacoes #indisponivel {
    font-size: 12px;
    color: #FF0707;
    background-color: #FFDDDD;
    padding: 4px;
    border-radius: 8px;
    height: 24px;
}

#deactive {
    opacity: 0.7;
}

#deactive:hover {
    transform: none;
    transition: none;
    border: 1px solid #DDD;
    cursor: auto;
}

.mensagem {
    height: 30%;
}

.aviso {
    background-color: #DBEAFE;
    padding: 8px;
    border-radius: 8px;
    border: #0052FB 1px solid;
    margin-bottom: 12px;
}
.aviso p {
    color: #0052FB;
    font-size: 16px;
    font-family: Lato;
}

form .cancelar {
    border: 1px solid #333;
    background-color: transparent;
    padding: 8px;
    border-radius: 12px ;
    width: 100%;
    color: #333;
    font-family: Lato;
    font-size: 16px;
}

form .cancelar:hover {
    background-color: #DDD;
    transition: all 0.5s;
    cursor: pointer;
}

.editar {
    border:none;
    background-color: #0052FB;
    padding: 8px;
    border-radius: 12px;
    width: 100%;
    color: #fff;
    font-family: Lato;
    font-size: 16px;
    text-decoration: none;
}

form .editar:hover {
    background-color: #3376FF;
    transition: all 0.5s;
    cursor: pointer;
}

.card-estacoes input[type="radio"]:checked + div,
.card-estacoes input[type="radio"]:checked ~ p {
    border-color: #0052FB;
}

.card-estacoes:has(input[type="radio"]:checked) {
    border: 1px solid #0052FB;
    box-shadow: 0 0 8px rgba(0, 82, 251, 0.3);
    transform: translateY(-3px);
}

.excluir {
    font-size: 16px;
    padding: 8px;
    border-radius: 12px;
    width: 100%;
    color: #FFF;
    border: none;
    background-color: #FF0707;
}

.excluir:hover {
     background-color: #ff4b4b;
     cursor: pointer;
     transition: all 0.5s;
}