header {
    background-color: #fafafa;
    padding: 24px 110px;
    border-bottom: 1px solid var(--gray-300, #CCC);
}

header div {
    gap: 20px;
}

header div .menu-icon:hover {
    cursor: pointer;
}

header .perfil img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

header .perfil:hover {
    cursor: pointer;
}