header {
    background-color: #fff;
    padding: 24px 110px;
    border-bottom: 1px solid var(--gray-300, #CCC);
}

header div {
    gap: 20px;
}

header div .menu-icon:hover {
    cursor: pointer;
}

header .perfil img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

header .perfil:hover {
    cursor: pointer;
}

main #sidebar {
  background-color: #fff;
  height: 85vh;
  padding: 64px 48px 24px 48px;
  position: relative;
  width: 0px;
  transition: all .5s;
  min-width: 80px;
  border-right: #CCC solid 1px;
}

main #sidebar #sidebar_content {
  height: 100%;
}

main ul {
  list-style: none;
  gap: 32px;
  margin-top: 24px;
}

main #side_items .side-item a {
  text-decoration: none;
  justify-content: center;
  color: #666;
}

main #side_items .side-item li {
  gap: 12px;
  padding: 8px;

}

main #side_items .side-item a:hover,
#logout_btn:hover {
  background-color: #f5f5f5;
  padding: 6px;
  border-radius: 8px;
  transition: all 0.5s ease;
}

main #side_items .side-item.active a {
  color: #0052fb;
}

main #side_items .side-item.active a i {
  color: #0052fb;
}


main #side_items .side-item i:hover:not(.active) {
  color: #666;
  background-color: #f5f5f5;
}

main #logout_btn {
  background: none;
  border: none;
  color: #666;
  cursor: pointer;
}

main #logout_btn:hover {
  background-color: #f5f5f5;
  padding: 12px;
  border-radius: 8px;
  transition: all 0.5s ease;
}

main .side-item #logout_btn i:hover:not(.activer) {
  color: #FF0707;
  background-color: #f5f5f5;
}

main .config {
  gap: 12px;
  border-top: 1px solid #f5f5f5;
  justify-content: center;
}

main .config li a {
  margin-top: 20px;
}

main .config .side-item #logout_btn {
  max-width: 171px;
  color: #FF0707;
}

#open_btn {
  position: absolute;
  top: 20px;
  right: 32px;
  color: #666;
  background: none;
  border: none;
  cursor: pointer;
}

.item-descricao {
  width: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  transition: width .6s;
}

#sidebar.open-sidebar {
  min-width: 15%;
}

#sidebar.open-sidebar .item-descricao {
  width: 100px;
  height: auto;
}

#sidebar.open-sidebar .side-item a {
  justify-content: flex-start;
  gap: 8px
}

main #sidebar button img {
  width: 23px;
  height: 23px;
}

.side-item a i {
  color: #666; /* cor padrão */
  transition: color 0.3s ease;
}

.side-item.active a i {
  color: #0052fb; /* cor azul quando estiver na página */
}

.side-item.active a span {
  color: #0052fb; /* deixa o texto azul também */
}

.flashes {
  padding: 8px;
  background-color: #ffd6d6;
  width: 100%;
  text-align: center;
  border-radius: 12px;
  border: 1px solid #FF4646;
  font-family: Lato;
  color: #FF4646;
  list-style: none;
}