* {
    margin: 0;
}

body {
    height: 100vh;
}

main {
    height: 100%;
    width: 100%;
}

main .left {
    background-image: url('/static/imgs/cadastro/fundo3.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 60%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* mostra tudo sem cortar */
}

main .left .container form {
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 1px 10px 10px rgba(0, 36, 112, 0.2);
    padding: 50px 86px 50px 86px;
}

main .left form .titulo {
    gap: 2px;
    margin-bottom: 29px;
}


main .left .container form div h1 {
    color: #0052FB;
    font-family: Ubuntu;
    font-weight: 700;
}

main .left .container form div h3 {
    color: #4D4D4D;
    font-family: Inter;
    font-weight: 500;
}

main .left form .info {
    gap: 36px;
    margin-bottom: 35px;
}

main .left form .info .form {
    gap: 17px;
}

main .left .container form .info label,
main .left .container form button {
    font-family: Inter;
    font-size: 16px;
}

main .left .container form .info .form input {
    border: 1px solid #83ACFF;
    border-radius: 15px;
    color: #83ACFF;
    outline: none;
    padding: 12px 14px 12px 14px;
    width: 298px;
}

main .left .container form .info .form input:hover {
    background: #F2F6FF;
    border: 1px solid #83ACFF;
}

main .left .container form .info .form input:focus {
    border: 2px solid #4980F2;
    box-shadow: 0 0 10px 0 #0052FB;
}

main .left .container form .info .form :invalid {
    border: 1px solid #FF4646;
    color: #FF4646;
}

main .left .container form .info .form input::-webkit-input-placeholder {
    color: #83ACFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
}

main .left .container form .info button {
    background-color: #0052FB;
    border: none;
    border-radius: 15px;
    color: #FFFFFF;
    cursor: pointer;
    height: 36px;
    width: 100%;
}

main .left .container form h4 {
    color: #4D4D4D;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}

main .left .container form h4 a {
    color: #1246B2;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

img {
    height: 518px;
    width: 335px;
}