* {
    margin: 0;
    width: 100%;
}

body {
    height: 100vh;
}

main {
    height: 100%;
    width: 100%;
}

main .left {
    background-image: url('/static/imgs/cadastro/fundo3.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 67%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* mostra tudo sem cortar */
}

main .left .login {
    padding: 72px 86px 72px 86px;
}

main .left .login div:nth-child(1) {
    gap: 01px;
}

main .left .login .info div {
    gap: 17px;
}

main .left .container .login {
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 1px 10px 10px rgba(0, 36, 112, 0.2);
    width: 507px;
}

main .left .container .login div h1 {
    color: #0052FB;
    font-family: Ubuntu;
    font-weight: 700;
}

main .left .container .login div h3 {
    color: #4D4D4D;
    font-family: Inter;
    font-weight: 500;
}

main .left .container .login .info input {
    border: 1px solid #83ACFF;
    border-radius: 15px;
    color: #83ACFF;
    outline: none;
    padding: 12px 14px 12px 14px;
    width: 298px;
}

main .left .container .login .info input:hover {
    background: #F2F6FF;
    border: 1px solid #83ACFF;
}

main .left .container .login .info input:focus {
    border: 2px solid var(--blue-400, #4980F2);
    box-shadow: 0 0 10px 0 #0052FB;
}

main .left .container .login .info input:invalid {
    border: 1px solid #FF4646;
    color: #FF4646;
}

main .left .container .login .info input::-webkit-input-placeholder {
    color: #83ACFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
}

main .left .container .login .info .l2 div:nth-child(1) input {
    height: 100%;
}

main .left .container .login .info button {
    background-color: #0052FB;
    border: none;
    border-radius: 15px;
    color: #FFFFFF;
    height: 36px;
    width: 139px;
}

img {
    height: 518px;
    width: 335px;
}