* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
}

body {
    background-color: #fafafa;
    min-height: 100vh;
}

main #sidebar {
  background-color: #fff;
  height: 85vh;
  padding: 64px 48px 24px 48px;
  position: relative;
  width: 0px;
  transition: all .5s;
  min-width: 80px;
  border-right: #CCC solid 1px;
}

main #sidebar #sidebar_content {
  height: 100%;
}

main ul {
  list-style: none;
  gap: 32px;
  margin-top: 24px;
}

main #side_items .side-item a {
  text-decoration: none;
  justify-content: center;
  color:#666;
}

main #side_items .side-item li {
  gap: 12px;
  padding: 8px;

}

main #side_items .side-item a:hover, #logout_btn:hover {
  background-color: #f5f5f5;
  padding: 8px;
  border-radius: 8px;
  transition: all 0.5s ease;
}

main #side_items .side-item li {
  background-color: #f5f5f5;
  padding: 12px;
  border-radius: 8px;
}

main #side_items .side-item.active a {
  color: #0052fb;
}

main #side_items .side-item.active a i {
  color: #0052fb;
}


main #side_items .side-item  i:hover:not(.active) {
  color: #666;
  background-color: #f5f5f5;
}

main #logout_btn {
  background: none;
  border: none;
  color:#666;
  cursor: pointer;
}

main #logout_btn:hover {
  background-color: #f5f5f5;
  padding: 12px;
  border-radius: 8px;
  transition: all 0.5s ease;
}

main .side-item #logout_btn i:hover:not(.activer) {
  color: #FF0707;
  background-color: #f5f5f5;
}

main .config {
  gap: 12px;
  border-top: 1px solid #f5f5f5;
  justify-content: center;
}

main .config li a {
  margin-top: 20px;
}

main .config .side-item #logout_btn {
  max-width: 171px;
  color: #FF0707;
}

#open_btn {
  position: absolute;
  top: 20px;
  right: 32px;
  color: #666;
  background: none;
  border: none;
  cursor: pointer;
}

.item-descricao {
  width: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  transition:  width .6s;
}

#sidebar.open-sidebar {
  min-width: 15%;
}

#sidebar.open-sidebar .item-descricao {
  width: 100px;
  height: auto;
}

#sidebar.open-sidebar .side-item a  {
  justify-content: flex-start;
  gap: 8px
  
}

main #sidebar button img {
  width: 23px;
  height: 23px;
}

main .dashboard-content {
  margin: 64px;
  width: 100%;
  justify-content: space-around;
}

main .agenda {
  gap: 32px;
}

main section .calendario {
  gap: 12px;
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 4px 2px rgba(102, 102, 102, 0.25);
}

main section .agenda .calendario-header span {
  color: #333;
  font-family: ubuntu;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

main section .agenda .calendario-header i {
  color:#666;
  cursor: pointer;
}

main section table {
  width: 100%;
}

main section table th {
  color: #666;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 12px;
}

main section .agenda .modal {
  background-color: #0052fb;
  border-radius: 12px;
  color: #fff;
  padding: 22px;
  gap: 24px;
}

main section .agenda .modal h3 {
  color: #FFF;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

main section .agenda .modal a {
  padding: 12px;
  gap: 10px;
  background-color: #FFF;
  border-radius: 8px;
  text-decoration: none;
  color: #0052fb;
  width: 100px;
}

main section .agenda .modal a:hover {
  background-color: #CCC;
  transition: all 0.5s ease;
}

main section .title {
  border-bottom: 1px solid #CCC;
}

.m-title {
  gap: 28px;
  margin-bottom: 24px;
}

main section .agendamentos .title h2{
  color: var(--gray-600, #666);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

main section .agendamentos .title a {
  padding: 10px 8px;
  text-decoration: none;
  color:#fff;
  background-color: #0052fb;
  border-radius: 12px;
  font-size: 14px;
}

main section .agendamentos .title a:hover {
  background-color: #003bb5;
  transition: all 0.5s ease;
}

.filter {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #fff;
  border: 1px solid #E0E0E0;
  border-radius: 10px;
  padding: 8px 14px;
  width: 150px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.filter:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.filter img {
  width: 18px;
  height: 18px;
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

.filter:hover img {
  opacity: 1;
}


.custom-select {
  position: relative;
  font-family: 'Lato', sans-serif;
  width: 150px;
}

.select-selected {
  background-color: #fff;
  font-size: 15px;
  color: #333;
  cursor: pointer;
  transition: all 0.25s ease;
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23333' height='16' viewBox='0 0 24 24' width='16' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 2px center;
  padding-right: 22px;
}

.select-selected:hover {
  color: #0066FF;
}

.select-selected.active {
  color: #0066FF;
}


.select-items {
  position: absolute;
  background-color: #fff;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  width: 100%;
  margin-top: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: none;
  z-index: 99;
}

.select-items div {
  padding: 10px 14px;
  color: #333;
  font-size: 14px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.select-items div:hover {
  background-color: #E3F0FF;
}

.select-items.show {
  display: block;
}

.cards-agendamentos {
  gap: 20px;
  margin-top: 32px;
}

.cards-agendamentos .card-agendamentos {
  background-color: #fff;
  padding: 18px 22px;
  position: relative;border-radius: 8px;
  border: 1px solid var(--gray-300, #CCC);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);

}

.cards-agendamentos .card-agendamentos .detalhe {
  width: 12px;
  height: 100%;
  background-color: #0052fb;
  position: absolute;
  left: 0;
  top: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}


.detalhe-reuniao {
  background-color: #4980F2;
  width: 12px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.cards-agendamentos .card-agendamentos #confirmado  {
  background-color: #E2FFED;
  border: 1px solid #4AC97B;
  color: #4AC97B;
  border-radius: 8px;
  padding: 8px;
  font-size: 12px;
}

.cards-agendamentos .card-agendamentos #analise {
  background-color: #FFE59E;
  border: 1px solid #B97938;
  color: #B97938;
  border-radius: 8px;
  padding: 8px;
  font-size: 12px;
}

.cards-agendamentos .card-agendamentos #negado {
  background-color: #FDD;
  border: 1px solid #FF0707;
  color: #FF0707;
  border-radius: 8px;
  padding: 8px;
  font-size: 12px;
}

.card-agendamentos .flex.coluna {
  gap: 8px;
}

.card-agendamentos h3 {
  color: var(--gray-800, #333);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-agendamentos p {
  color: var(--gray-700, #4D4D4D);
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.paginacao {
  margin-top: 32px;
}
.paginacao .seta-esq, .paginacao .seta-dir {
  background-color: #0052fb;
  color: #fff;
  border: #fff solid 1px;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.paginacao .seta-esq, .paginacao .seta-dir:hover {
  background-color: #4985FF;
}

.paginacao button.number {
  background-color: #fff;
  border: 1px solid #CCC;
  color: #333;
  cursor: pointer;
  width: 32px;
  height: 32px;
  margin: 0px;
}

.paginacao button.number.ativo {
  color: #0052fb;
  border: 1px solid #0052fb;
}

