body {
    background-color: #f5f5f5;
    height: 100vh;
}

body aside {
    background-color: #FFFFFF;
    border-right: 1px solid #E0E0E0;
    padding: 32px 0px;
}

body aside .menu {
    gap: 18px;
}

aside .menu {
    width: 70px;
    padding: 10px;
    transition: 0.3s ease;
    height: 100%;
}

/* item padrão */
aside .menu a {
  height: 50px;
  margin-bottom: 12px;
  border-radius: 14px;
  text-decoration: none;
  position: relative;
}

/* ícone */
aside .menu img {
  width: 26px;
  height: 26px;
}

/* MENU ABERTO */
.menu.open {
  width: 220px;
}

/* ITEM QUANDO MENU ABERTO */
.menu.open a {
  justify-content: flex-start;
  padding: 0 16px;
  gap: 12px;
}

/* TEXTO (só aparece quando menu está aberto) */
.menu.open a::after {
  content: attr(data-text);
  font-size: 15px;
  color: #0d6efd;
  white-space: nowrap;
}

/* ITEM ATIVO */
.menu a.active {
  background: #ededed;
}