body {
    font-family: "lato", sans-serif;
}

.editais p {
    line-height: 140%;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: var(--gray-600, #666);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}

.paragraph h1, h2 {
    font-family: "Ubuntu", sans-serif;

}

main {
    margin: 100px 0 120px 0;
}

.editais h3 {
    color: var(--gray-600, #666);
    font-family: Lato;
    font-size: 16px;
    font-weight:bold;
    line-height: 24px; 
}

.editais img {
    width: 24px;
    height: 24px;
}
.editais {
    gap: 32px;
    flex-wrap: wrap;
}
.edital {
    border-radius: 10px;
    background: #F9FBFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10), 0 1px 2px -1px rgba(0, 0, 0, 0.10);
    padding: 18px;
    max-width: 300px;
}

.paragraph {
    margin-bottom: 60px;
}

