@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=SUSE:wght@100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=SUSE:wght@100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.flex {
    display: flex;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 109px 0 109px;
    max-width: 1220px;
    margin: 0 auto ;
}

.alinhar-extremidades {
    justify-content: space-between;
}

.coluna {
    flex-direction: column;
}

.centralizar {
    align-items: center;
    justify-content: center;
}

.coluna {
    flex-direction: column;
}

.direita {
    justify-content: flex-end;
}

.esquerda {
    justify-content: flex-start;
}

.meio-vertical {
    align-items: center;
}

.meio-horizontal {
    justify-content: center;
}

.cor-principal {
    color: #0052FB;
}

.fundo-principal {
    background-color: #0052FB;
}