.flex {
    display: flex;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.alinhar-extremidades {
    justify-content: space-between;
}

.coluna {
    flex-direction: column;
}

.centralizar {
    align-items: center;
    justify-content: center;
}

.coluna {
    flex-direction: column;
}

.direita {
    justify-content: flex-end;
}

.esquerda {
    justify-content: flex-start;
}

.meio-vertical {
    align-items: center;
}

.meio-horizontal {
    justify-content: center;
}

.cor-principal {
    color: #0052FB;
}

.fundo-principal {
    background-color: #0052FB;
}