main .herobanner {
    background-image: url(../imgs/index/Herobanner.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 739px;
    width: 100%;
}

main .herobanner .container .texto-herobanner {
    gap: 75px;
    top: 101px;
    position: relative;
    width: 680px;
}

main .herobanner .container .texto-herobanner div:first-child {
    gap: 50px;
}

main .herobanner .container .texto-herobanner div:first-child h1 {
    color: #FFFFFF;
    font-family: Ubuntu;
    font-size: 58px;
    font-weight: 700;
    margin: 0;
}

main .herobanner .container .texto-herobanner div:first-child h2 {
    color: #FFFFFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 155%;
    margin: 0;    
}

main .herobanner .container .texto-herobanner div:nth-child(2) {
    gap: 26px;
}

main .herobanner .container .texto-herobanner a {
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    color: #FFFFFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    padding: 15px 0 15px 0;
    text-decoration: none;
    width: 230px;
}

main .herobanner .container .texto-herobanner a:hover {
    background-color: #FFFFFF;
    color: #0052FB;
}

main .herobanner .container .texto-herobanner .homem {
}

main .herobanner .container .texto-herobanner .homem img {
    height: 674px; 
    width: 533px;  
}

main .o-que-fazemos {
    background-color: #F2F6FF;
    height: 472px;
    margin-bottom: 60px;
    width: 100%;
}

main .o-que-fazemos .container .conteudo {
    align-items: start;
    gap: 95px;
}

main .o-que-fazemos .container .conteudo div {
    gap: 20px;
}

main .o-que-fazemos .container .conteudo div h3,
main .container h3 {
    color: #0052FB;
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

main .o-que-fazemos .container .conteudo div p {
    color: #666666;
    font-family: Lato;
    font-size: 16px;
    line-height: 155%;
    margin: 0;
}

main .o-que-fazemos .container .conteudo img {
    height: 338px;
    width: 519px;
}

main .espac {
    gap: 40px;
    margin-bottom: 100px;
}

main .espac .em-que-podemos-ajudar {
    flex-wrap: wrap;
    gap: 51px;
    justify-content: space-around;
}

main .espac .em-que-podemos-ajudar .card {
    border: 1px solid #CCCCCC;
    border-radius: 12px;
    max-height: 180px;
    padding: 20px 20px 20px 20px;
    width: 295px;
}

main .espac .em-que-podemos-ajudar .card .cont {
    gap: 16px;
}

main .espac .em-que-podemos-ajudar .card .cont div b,
main .espac .em-que-podemos-ajudar .card .cont div p {
    font-family: Lato;
    font-size: 14px;
    font-weight: 500;
}

main .espac .em-que-podemos-ajudar .card .cont div p,
main .container .etapas .card p,
main .container .espac-beneficios .titulos p,
main .container .espac-beneficios .lista-beneficios .beneficio div:nth-child(2) p,
main .parcerias div:nth-child(1) p {
    color: #666666;
    font-weight: 400;
    line-height: 140%;
    margin: 0;
    text-align: center;
}

main .container .etapas {
    align-items: flex-start;
    margin-bottom: 100px;
    width: 1072px;
}

main .container .etapas .card {
    gap: 12px;
    width: 310px;
}

main .container .etapas .card div {
    background-color: #DBEAFE;
    border-radius: 100%;
    height: 80px;
    width: 80px;
}

main .container .etapas .card h3 {
    color: #101828;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
}

main .container .etapas .card p,
main .container .espac-beneficios .titulos p,
main .container .espac-beneficios .lista-beneficios .beneficio div:nth-child(2) p,
main .parcerias div:nth-child(1) p {
    font-family: Lato;
    font-size: 16px;
}

main .container .espac-beneficios {
    gap: 48px;
    margin: 0 0 100px 0;
}

main .container .espac-beneficios .titulos {
    gap: 17px;
}

main .container .espac-beneficios .lista-beneficios {
    flex-wrap: wrap;
    height: 198px;
}

main .container .espac-beneficios .lista-beneficios .beneficio {
    gap: 16px;
}

main .container .espac-beneficios .lista-beneficios .beneficio div:nth-child(1) {
    background-color: #DBEAFE;
    border-radius: 10px;
    height: 48px;
    width: 48px;
}

main .container .espac-beneficios .lista-beneficios .beneficio div:nth-child(2) {
    gap: 8px;
    width: 320px;
}

main .container .espac-beneficios .lista-beneficios .beneficio div:nth-child(2) h3 {
    color: #101828;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
}

main .container .espac-beneficios .lista-beneficios .beneficio div:nth-child(2) p {
    text-align: start;
}

main .parcerias {
    gap: 32px;
    margin: 0 0 100px 0;
}

main .parcerias div:nth-child(1) {
    gap: 14px;
}

main .parcerias div:nth-child(2) {
    gap: 24px;
}