@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=SUSE:wght@100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=SUSE:wght@100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

main .herobanner {
    background-image: url(../imgs/index/Herobanner.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 739px;
    width: 100%;
}

main .herobanner .container .texto-herobanner {
    gap: 75px;
    top: 101px;
    position: relative;
    width: 734px;
}

main .herobanner .container .texto-herobanner div {
    gap: 50px;
}

main .herobanner .container .texto-herobanner div h1 {
    color: #FFFFFF;
    font-family: Ubuntu;
    font-size: 64px;
    font-weight: 700;
    margin: 0;
}

main .herobanner .container .texto-herobanner div h2 {
    color: #FFFFFF;
    font-family: Ubuntu;
    font-weight: 400;
    line-height: 155%;
    margin: 0;    
}

main .herobanner .container .texto-herobanner a {
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    color: #FFFFFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    padding: 20px 0 20px 0;
    text-decoration: none;
    width: 246px;
}

main .o-que-fazemos {
    background-color: #F2F6FF;
    height: 472px;
}

main .o-que-fazemos .container .conteudo {
    align-items: start;
    gap: 95px;
}

main .o-que-fazemos .container .conteudo div {
    gap: 20px;
}

main .o-que-fazemos .container .conteudo div h3 {
    color: #0052FB;
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

main .o-que-fazemos .container .conteudo div p {
    color: #666666;
    font-family: Lato;
    font-size: 16px;
    line-height: 155%;
    margin: 0;
}

main .o-que-fazemos .container .conteudo img {
    height: 338px;
    width: 519px;
}