main section {
    margin-top: 100px;
}

main section .inicio h1 {
    color: #0052FB;
    font-size: 24px;
    font-weight: 700;
    font-family: Ubuntu;
}

main section .inicio p {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    font-family: Lato;
    color: #4B4B4B;
    line-height: 150%;
    max-width: 800px;
    width: 100%;
}

main section .inicio {
    flex-wrap: wrap;

}

main section .apresentacao {
    background-color: #F1F6FF;
    width: 100%;
    padding: 40px 0px;
}

main section .apresentacao .container {
    gap: 48px;
}

main section .apresentacao img {
    border-radius: 8px;
}
main section .apresentacao div h2 {
    font-size: 24px;
    font-weight: 700;
    font-family: Ubuntu;
    color: #0052FB;
    margin: 0px;
}

main section .apresentacao div h3 {
    font-family: Ubuntu;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: #0052FB;
    margin: 0px;
}

main section .apresentacao div p {
    color: #000;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; 
    margin-top: 28px;
}