main section {
    margin-top: 100px;
}

main section .inicio h1 {
    color: #0052FB;
    font-size: 24px;
    font-weight: 700;
    font-family: Ubuntu;
}

main section .inicio p {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    font-family: Lato;
    color: #4B4B4B;
    line-height: 150%;
    max-width: 700;
}