<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <title>Document</title>
</head>

<body>

    <header>
        <section class="flex alinhar-extremidades meio-vertical">
            <div class="flex meio-vertical">
                <button><img src="../../static/imgs/base/menu.svg" alt="menu" class="menu-icon"></button>
                <img src="../../static/imgs/base/itzn brand.svg" alt="Logo ITZN">
            </div>
            <div class="perfil flex">
                 <img src="../../static/imgs/base/default-user.png" alt="perfil de usuario">
            </div>
        </section>
    </header>
       

    {% block content %}{% endblock %}
</body>

</html>