<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <title>Document</title>
</head>

<body>

    <header>
        <section class="flex alinhar-extremidades meio-vertical">
            <img src="../../static/imgs/base/itzn brand.svg" alt="Logo ITZN">
            <a href="{{ url_for('main.perfil') }}" class="perfil flex">
                <img src="../../static/imgs/base/default-user.png" alt="perfil de usuario">
            </a>
        </section>
    </header>

    <main class="flex">
        <nav id="sidebar" class="flex coluna">
            <div id="sidebar_content" class="flex coluna alinhar-extremidades">
                <ul id="side_items" class="flex coluna">
                    <li class="side-item {% if request.endpoint == 'main.dashboard' %}active{% endif %}">
                        <a href="{{ url_for('main.dashboard') }} " class="flex meio-vertical">
                            <i class="fa-regular fa-calendar fa-xl"></i>
                            <span class="item-descricao">Agendamentos</span>
                        </a>
                    </li>
                    <li class="side-item {% if request.endpoint == 'index_bp.editais' %}active{% endif %}">
                        <a href="#" class="flex meio-vertical">
                            <i class="fa-regular fa-file-lines fa-xl"></i>
                            <span class="item-descricao">Editais</span>
                        </a>
                    </li>
                    <li class="side-item {% if request.endpoint == 'main.materiais' %}active{% endif %}">
                        <a href="{{ url_for('main.materiais') }}" class="flex meio-vertical">
                            <i class="fa-solid fa-book fa-xl"></i>
                            <span class="item-descricao">Materiais</span>
                        </a>
                    </li>
                </ul>
                <ul id="side_items" class="config flex coluna">
                    <li class="side-item">
                        <a href="#" class="flex meio-vertical">
                            <i class="fa-solid fa-gear fa-xl"></i>
                            <span class="item-descricao">Configurações</span>
                        </a>
                    </li>
                    <li class="side-item" id="logout">
                        <a href="{{ url_for('auth.logout') }}" id="logout_btn" class="flex meio-vertical">
                            <i class="fa-solid fa-arrow-right-from-bracket fa-xl"></i>
                            <span class="item-descricao">Sair</span>
                        </a>
                    </li>
                </ul>
            </div>
            <button id="open_btn">
                <img src="../../static/imgs/base/menu.svg" alt="abrir menu" id="open_btn_icon">
            </button>
        </nav>

    {% block content %}{% endblock %}
</body>

</html>