<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>{{ title }}</title>
</head>

<body>

    {% extends 'base2.html' %}

    {% block content %}
    <main class="flex coluna">
        <div class="herobanner">
            <section class="container flex coluna">
                <div class="texto-herobanner flex coluna">
                    <div class="flex coluna">
                        <h1>Incubadora Tecnológica do IFRN - Zona Norte</h1>
                        <h2>Nosso propósito é fomentar o empreendorismo inovador. Um ambiente dedicado ao
                            desenvolvimento de
                            startups e empreendimentos de base tecnológica.</h2>
                    </div>
                    <a class="flex centralizar" href="{{ url_for('sobre') }}">
                        Saber mais
                    </a>
                </div>
            </section>
        </div>
        
        <div class="o-que-fazemos flex">
            <section class="container flex alinhar-extremidades meio-vertical">
                <div class="conteudo flex">
                    <div class="flex coluna">
                        <h3>O Que Fazemos</h3>
                        <p>Nosso propósito é fomentar o empreendedorismo inovador, criando um ambiente dinâmico e
                            colaborativo voltado para o desenvolvimento de startups e empreendimentos de base tecnológica.
                            Buscamos impulsionar ideias que transformem realidades, conectando pessoas, recursos e
                            conhecimento para gerar soluções criativas e sustentáveis. Acreditamos que a inovação é o motor
                            do progresso, e, por isso, promovemos iniciativas que estimulem a experimentação, o aprendizado
                            contínuo e a troca de experiências entre empreendedores, mentores e instituições parceiras.
                            Nosso objetivo é contribuir para o fortalecimento do ecossistema de inovação, estimulando o
                            crescimento econômico, a competitividade e o impacto positivo na sociedade.</p>
                    </div>
                    <img class="equipe-itzn" src="../static/imgs/index/WhatsApp Image 2025-10-23 at 17.39.46 3.png" alt="">
                </div>
            </section>
        </div>
    </main>
    {% endblock %}

</body>

</html>