<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    
    <header>
        <div class="container">
            <img src="../static/imgs/itzn brand.svg" alt="">
            <nav>
                <ul>
                    <li>Home</li>
                    <li>Eventos</li>
                    <li>Contato</li>
                    <li>Sobre</li>
                </ul>
            </nav>
            <div>
                <div>

                </div>
                <div>

                </div>
            </div>
        </div>
    </header>

    <main>
        <img src="" alt="">
        <div>

        </div>
    </main>

    <footer>
        <div>
            <img src="" alt="">
            <h3></h3>
        </div>
        <div>
            <ul>
                <li>Home</li>
                <li></li>
                <li>Contato</li>
                <li>Sobre</li>
            </ul>
        </div>
        <div>
            <h3>Contato</h3>
            <div>
                <div>
                    <img src="" alt="">
                    <p></p>
                </div>
                <div>
                    <img src="" alt="">
                    <p></p>
                </div>
                <div>
                    
                </div>
            </div>
        </div>
    </footer>

</body>
</html>